#body{
  background-color: black;
}

.container{
  margin-top: 75px;
  align-items: center;
}

#input{
  color:white;
  background-color: transparent;
}

#button{
  color:white;
  background-color: transparent;
  border:1px solid white;
}
