


#body{
  background-color:black;
}

.container{
  margin-top: 10px;
  align-items: center;
}

#input{
  color:#f800ff;
  background-color: transparent;
  text-align: center;
  border:1px solid #f800ff;
}

#button{
  color:grey;
  background-color: transparent;
  border:1px solid #f800ff;
}

#ul{
  align-items: center;
  text-decoration: none;

}

#btn-danger{
  border-radius: 30px;
  background-color: transparent;
}

#btn-danger:hover{
  background-color: red;
  border-radius: 30px;
  color: black;
  font-style: bold;
}

#output{
  text-align: center;
  color:#f800ff;
  align-items: center;
}
